<app-audio-header [toc]="toc" [bookmark]="bookmark" (sendBookmark)="receiveBookmark($event)" [path]="path" [transcriptPage]="transcriptPage"></app-audio-header>

<!-- page content -->
<div class="right_col ml0 purple_blue_w9" role="main">				
  <!-- Class -->  
  <div class="cw100p cabsolutet">
    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <div class="x_panel dflexblock_transcript p0">            
          <div class="x_content c_white fwunset tcenter pt0px mt0px p0">

            <form>             
              <div class="row program_content_title center_flex">
                <div class="col-md-6 col-sm-8 col-xs-12 p0">
                  <h6 class="txt55">
                    Nurture a Quiet Mind
                  </h6>
                </div>
              </div>

              <br>

              <div class="row center_flex">
                <div class="col-md-6 col-sm-8 col-xs-12 p0">

                  <!-- 1 -->
                  <div class="panel-group" id="accordion">                  
                    <div class="panel panel-default pc_panel">
                      <div class="panel-heading">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#a1" aria-expanded="false">
                            
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="">
                                  <h4 class="txt56 mtb0px tleft">
                                    1. Nature
                                  </h4>                                  
                                </div>                              
                              </div>
                            </div>
                          </a>
                        </h4>
                      </div>

                      <hr class="pc_hr"> 

                      <div id="a1" class="panel-collapse collapse">
                        <div class="panel-body">
  
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                              <p class="tleft txt57">
                                Max 50 words - Morbi diam arcu, faucibus at accumsan ut, ornare eget tellus. Duis ut accumsan ex. Nullam pretium tristique gravida. In mollis odio et tellus laoreet cursus eu sit amet justo. Nullam eu diam ac est suscipit ultrices ac et massa. Maecenas eros nunc, faucibus elementum enim in, malesuada.
                              </p>                              
                            </div>
                          </div>
  
                        </div>
                      </div>
                    </div>
                  </div>  
                  <!-- /1 -->

                  <!-- 2 -->
                  <div class="panel-group" id="accordion">                  
                    <div class="panel panel-default pc_panel">
                      <div class="panel-heading">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#a2" aria-expanded="false">
                            
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="">
                                  <h4 class="txt56 mtb0px tleft">
                                    2. Breathing
                                  </h4>                                  
                                </div>                              
                              </div>
                            </div>
                          </a>
                        </h4>
                      </div>

                      <hr class="pc_hr"> 

                      <div id="a2" class="panel-collapse collapse">
                        <div class="panel-body">
  
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                              <p class="tleft txt57">
                                Max 50 words - Morbi diam arcu, faucibus at accumsan ut, ornare eget tellus. Duis ut accumsan ex. Nullam pretium tristique gravida. In mollis odio et tellus laoreet cursus eu sit amet justo. Nullam eu diam ac est suscipit ultrices ac et massa. Maecenas eros nunc, faucibus elementum enim in, malesuada.
                              </p>                              
                            </div>
                          </div>
  
                        </div>
                      </div>
                    </div>
                  </div>  
                  <!-- /2 -->

                  <!-- 3 -->
                  <div class="panel-group" id="accordion">                  
                    <div class="panel panel-default pc_panel">
                      <div class="panel-heading">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#a3" aria-expanded="false">
                            
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="">
                                  <h4 class="txt56 mtb0px tleft">
                                    3. Noticing Thoughts
                                  </h4>                                  
                                </div>                              
                              </div>
                            </div>
                          </a>
                        </h4>
                      </div>

                      <hr class="pc_hr"> 

                      <div id="a3" class="panel-collapse collapse">
                        <div class="panel-body">
  
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                              <p class="tleft txt57">
                                Max 50 words - Morbi diam arcu, faucibus at accumsan ut, ornare eget tellus. Duis ut accumsan ex. Nullam pretium tristique gravida. In mollis odio et tellus laoreet cursus eu sit amet justo. Nullam eu diam ac est suscipit ultrices ac et massa. Maecenas eros nunc, faucibus elementum enim in, malesuada.
                              </p>                              
                            </div>
                          </div>
  
                        </div>
                      </div>
                    </div>
                  </div>  
                  <!-- /3 -->

                  <!-- 4 -->
                  <div class="panel-group" id="accordion">                  
                    <div class="panel panel-default pc_panel">
                      <div class="panel-heading">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#a4" aria-expanded="false">
                            
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="">
                                  <h4 class="txt56 mtb0px tleft">
                                    4. Meditation
                                  </h4>                                  
                                </div>                              
                              </div>
                            </div>
                          </a>
                        </h4>
                      </div>

                      <hr class="pc_hr"> 

                      <div id="a4" class="panel-collapse collapse">
                        <div class="panel-body">
  
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                              <p class="tleft txt57">
                                Max 50 words - Morbi diam arcu, faucibus at accumsan ut, ornare eget tellus. Duis ut accumsan ex. Nullam pretium tristique gravida. In mollis odio et tellus laoreet cursus eu sit amet justo. Nullam eu diam ac est suscipit ultrices ac et massa. Maecenas eros nunc, faucibus elementum enim in, malesuada.
                              </p>                              
                            </div>
                          </div>
  
                        </div>
                      </div>
                    </div>
                  </div>  
                  <!-- /4 -->

                  <!-- 5 -->
                  <div class="panel-group" id="accordion">                  
                    <div class="panel panel-default pc_panel">
                      <div class="panel-heading">
                        <h4 class="panel-title dpaneltitle">
                          <a data-toggle="collapse" data-parent="#accordion" href="#a5" aria-expanded="true">
                            
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                <div class="">
                                  <h4 class="txt56 mtb0px tleft">
                                    5. Listening
                                  </h4>                                  
                                </div>                              
                              </div>
                            </div>
                          </a>
                        </h4>
                      </div>

                      <hr class="pc_hr"> 

                      <div id="a5" class="panel-collapse collapse in">
                        <div class="panel-body">
  
                          <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 p0">
                              <p class="tleft txt57">
                                Max 50 words - Morbi diam arcu, faucibus at accumsan ut, ornare eget tellus. Duis ut accumsan ex. Nullam pretium tristique gravida. In mollis odio et tellus laoreet cursus eu sit amet justo. Nullam eu diam ac est suscipit ultrices ac et massa. Maecenas eros nunc, faucibus elementum enim in, malesuada.
                              </p>  
                              
                              <h6 class="tleft txt58">
                                Explore this module
                              </h6>
                            </div>
                          </div>
  
                        </div>
                      </div>
                    </div>
                  </div>  
                  <!-- /5 -->                  

                </div>
              </div>              
            </form> 

          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<app-course-footer (nextEmitter)="submitProgress()" (previousEmitter)="prev()"></app-course-footer>