<!-- page content -->
<div class="right_col ml0 bg_journal" role="main">				
  <!-- Class -->
  <div class="cw100p">    

    <div class="row drow center_flex">
        <div class="col-md-6 col-sm-8 col-xs-12 p0">
          <div class="x_panel p0">
            <div class="x_content p0">
              <form>                                
                <div class="row mlr-10px">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  </div>
                  <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback p0 zi0">
                    <input type="search" class="form-control has-feedback-left h60px searchtxt" id="inputSuccess2" placeholder="Search Journal (ex. Comparison)">
                    <span class="fa fa-search form-control-feedback left sfeedback" aria-hidden="true"></span>
                  </div>
                </div>

                <div class="row center_flex pb2rem">
                  <div class="col-md-12 col-sm-12 col-xs-12 p0 center_flex">
                    <div class="col-md-1 col-sm-1 col-xs-2">
                      <img src="assets/svgs/icons/filter.svg" alt="">
                    </div>

                    <hr class="shr">

                    <div class="col-md-12 col-sm-8 col-xs-8 cfjs">
                      <a>
                        <h4 class="txt39">
                          All
                        </h4>
                      </a>
                      
                      <a>
                        <h4 class="txt39">
                          Notes
                        </h4>
                      </a>
                      
                      <a>
                        <h4 class="txt39">
                          Reflections
                        </h4>
                      </a>                      
                    </div>             
                    
                    <div class="col-md-3 col-sm-3 col-xs-3 cffe">
                      <button type="button" class="btn btn-default btn_plus">
                        <img src="assets/svgs/icons/plus.svg" alt="" class="img-responsive">
                      </button>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default cpdefault">
                      <div class="panel-heading cptitle">
                        <h4 class="panel-title">What made you happy today?</h4>
                      </div>
                      <div class="panel-body">
                        <textarea class="form-control cptextarea" rows="5" placeholder="Start typing..."></textarea>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default cpdefault prelative">
                      <div class="panel-heading absolute_ptitle">
                        <h4 class="panel-title">Comparison</h4>
                      </div>
                      <div class="panel-body">
                        <h4 class="txt36">Today</h4>
                        <h4 class="txt37">Think of an example when you compare yourself with others</h4>
                        <h4 class="txt38">I compare myself with others when text of about fifteen to twenty words...</h4>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default cpdefault prelative">
                      <div class="panel-heading absolute_ptitle">
                        <h4 class="panel-title">Opinions and Beliefs</h4>
                      </div>
                      <div class="panel-body">
                        <h4 class="txt36">Yesterday</h4>
                        <h4 class="txt37">Note title single line</h4>
                        <h4 class="txt38">I compare myself with others when text of about fifteen to twenty words...</h4>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default cpdefault prelative">                      
                      <div class="panel-body">
                        <h4 class="txt36">14 Dec</h4>
                        <h4 class="txt37">Note title single line</h4>
                        <h4 class="txt38">Note without title: I compare myself with others when text of about fifteen to twent...</h4>
                      </div>
                    </div>
                  </div>
                </div>                
                
              </form>              
            </div>
          </div>
        </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<app-index-footer></app-index-footer>
<!-- /footer -->