<!-- top navigation -->
<nav class="navbar navbar-default navbar-static-top cnavbar-default pt1rem">
  <div class="container ncenter_flex">
    <div class="navbar-header nh center_flex">
      <button type="button" class="navbar-toggle collapsed unhide_ntbtn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="cimg" href="#">
        <img src="assets/images/logo/logo_transparent.png" class="img-responsive clogo" alt="">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse hide_nav">      
      <ul class="nav navbar-nav navbar-right">        
        <ul class="nav navbar-nav cnavbar-nav mr-20px pb1rem">          
          <li class="libr"><a href="https://humanwisdom.me/Course/#/onboarding/login">Login</a></li>                    
          <li class="libr"><a href="https://humanwisdom.me/Course/#/onboarding/signup">Register</a></li>
          <li class="libr"><a href="https://humanwisdom.me/hwp/webpages/help.php">Help</a></li>
          <li class=""><a href="https://humanwisdom.me/hwp/webpages/profile.php">My Profile</a></li>          
          <li role="separator" class="divider"></li>
        </ul>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">        
        <ul class="nav navbar-nav cnavbar-nav">          
          <li><a href="">About</a></li>          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Programs <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_childrens.php">Children</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_teenagers.php">Teenager</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_adults.php">Adults</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_parents.php">Parents</a></li>
            </ul>
          </li>
          <li class="active"><a href="https://humanwisdom.me/hwp/webpages/wisdom_community.php">Community</a></li>
          <li><a href="">Wisdom Survey</a></li>
          <li><a href="">Wisdom Journal</a></li>
          <li><a href="https://humanwisdom.me/Course/#/onboarding/addcart">Subscribe</a></li>
          <li><a href="https://humanwisdom.me/hwp/webpages/testimonials.php">Testimonials</a></li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
<!-- /top navigation -->

<div class="prelative pt8_5rem">
  <img src="assets/images/background/webpage/header_bg.png" class="img-responsive" alt="">  
  <h2 class="bold testimonial_img_title">
    ABOUT THE BOOK
  </h2> 
</div>

<!-- page content -->
<div class="right_col ml0" role="main">				
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <div class="x_panel txt_dgray">                     

          <div class="x_content">
            <form class="wparagraph">
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">                          
                  <h3>
                    About the Book
                  </h3>
                  <hr class="whr_title">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">

                  <p class="italic fw_500">
                    Understanding ourselves and how our minds work is the doorway to wisdom. Our happiness depends on it. It is not part of our education, so we have to discover it for ourselves.                         
                  </p>  

                  <p class="italic fw_500">                    
                    The book Understanding me, Understanding You, makes it easy for everyone to understand themselves clearly, by observing their thoughts and feelings and then exploring their origin. Each of us can discover that richness of understanding that can transform our lives for the better. We can then cope better with the challenges that life throws at us, and the stress that follows. Because our minds work in similar ways, understanding ourselves helps us to understand others, and that brings harmony to our relationships, which is essential for a happy life.                         
                  </p>  

                  <p class="italic fw_500">                    
                    The aim of this book is to explore the many hidden ways in which our mind works, behind the screen of our awareness, directing our thoughts and actions. The 26 chapters explore inner landscapes that are common to all human beings: like the art of listening, the mechanism of comparison, our conditioning and how it impacts our life, the nature of fear and desire and how they influence our behaviour, our many psychological needs and how they affect our relationships, the human struggle to find love, our many beliefs which bring us comfort but also divide us, our loneliness, our habits which can become addictions, our images of ourselves and how we try to defend them, our sorrow which blocks out the sun from our lives, and so on. 
                  </p>  

                  <p class="italic fw_500">                    
                    The beauty of this approach is that it needs no authority, no belief system or philosophy, but just the ability to observe the way our minds work. That brings its own wisdom.
                  </p>  

                  <p class="italic fw_500">
                    As part of this exploration we can then begin to ask questions which we rarely ask. Questions like: ‘Do we live with intelligence, or just respond to our past influences’, or ‘Can we find harmony in our relationships’, or ‘Can loneliness be dissolved’, or ‘Why do we have so many hidden psychological needs and can we take responsibility for them’, or ‘How can we find love in our lives’, or ‘Why do we want more and more and are never satisfied’, and so on.
                  </p>  

                  <p class="italic fw_500">
                    Since most problems begin in the human mind, the solutions to them must also begin there.
                  </p>  

                  <p class="italic fw_500">
                    The book is part of the non-profit Human Enquiry Project, which aims to spread wisdom, which follows when we understand ourselves and how our minds work. It will lead to a better world.
                  </p>  

                  <p class="italic fw_500">
                    The website humanenquiry.com accompanies the book and has videos, mind-maps, blogs and questions for self-enquiry.
                  </p>  

                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--/Class -->      
</div>
<!-- /page content -->

<!-- footer content -->
<footer class="cfooter ml0 footer_p0 ">
  
  <div class="row flex_justify footer_top">
    <div class="col-md-10 col-sm-12 col-xs-12 p0 flex_justify txt_white ">

      <div class="col-lg-2 col-md-2 col-sm-2"></div>

      <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>
          Useful Links
        </h4>

        <ul class="footer_ul">
          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="about_manoj_krishna.php">About Manoj Krishna</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="manoj_krishna_book.php">Manoj Krishna's Book</a>
          </li>          
        </ul>
      </div>
      
      <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>
          Our Services
        </h4>

        <ul class="footer_ul">
          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="subscribe.php">Subscribe</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="discount.php">Discount</a>
          </li>          

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="refer_friend.php">Refer a Friend</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="share_gift_of_wisdom.php">Give the Gift of Wisdom</a>
          </li>          
        </ul>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>
          Our Policies
        </h4>

        <ul class="footer_ul">
          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="terms_conditions.php">Terms and Conditions</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="privacy_policy.php">Privacy Policy</a>
          </li>          

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="cookie_policy.php">Cookie Policy</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="help.php">Help Center</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
  
  <div class="tcenter twhite footer_bottom">    
    © 2020 Human Wisdom Ltd. All Rights Reserved.&nbsp;<a href="" class="twhite">Terms of Use</a>&nbsp;|&nbsp;<a href="" class="twhite">Privacy Policy</a>
  </div>

  
</footer>
<!-- /footer content -->