<!-- top navigation -->
<div class="top_nav ml0 ctopnav">
  <div class="nav_menu cnav_menu p20px mb0px tn_padding bg_green">
      <nav class="">          
        <ul class="nav navbar-nav navbar-right cnav navleft w40p no_bg">
          <li class="">
            <a href="javascript:;" class="cuser-profile dropdown-toggle p0" data-toggle="dropdown" aria-expanded="false" (click)="goToDash()">                        
              <img src="assets/svgs/icons/dashboard.svg" alt="" class="p0">
            </a>                  
          </li>
          <li class="">
            <a href="javascript:;" class="cuser-profile dropdown-toggle p0" data-toggle="dropdown" aria-expanded="false" (click)="goToToc()">                        
              <img src="assets/svgs/icons/toc.svg" alt="" class="p0">
            </a>                  
          </li>          
        </ul>
        
        <ul class="nav navbar-nav navbar-right cnav w40p no_bg">
          <li class="">
            <a href="javascript:;" class="cuser-profile dropdown-toggle p0" data-toggle="modal" data-target="#exampleModalCenter">                                    
              <img src="assets/svgs/icons/edit.svg" alt="" class="p0">
            </a>                  
          </li>
          <li class="mr0px">                    
            <a *ngIf="!bookmark" href="javascript:;" class="cuser-profile dropdown-toggle p0" data-toggle="dropdown" aria-expanded="false" (click)="toggleBookmark()">                                      
              <img src="assets/svgs/icons/bookmark_course.svg" alt="" class="p0">
            </a> 
            <a *ngIf="bookmark" href="javascript:;" class="cuser-profile dropdown-toggle p0" data-toggle="dropdown" aria-expanded="false" (click)="toggleBookmark()">                        
              <img src="assets/svgs/icons/bookmark_course_active.svg" alt="" class="p0">
            </a>                  
          </li>
        </ul>
      </nav>
  </div>
</div>
<!-- /top navigation -->  

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal_note_journal" role="document">
    <div class="modal-content">      
      <div class="modal-body">        
        <form>
          <div class="row pt20px pb30px">
            <div class="col-md-12 col-sm-12 col-xs-12 p0">
              <textarea id="message" required="required" class="form-control txt19 p30_20px" name="message" rows="12" placeholder="Write your answer here" [(ngModel)]="note"></textarea>
            </div>
          </div>          
          
          <div class="row center_flex flex_wrap">
            <div class="col-md-3 col-sm-3 col-xs-12 tcenter">
              <a>
                <button type="button" class="btn btn-success mb0 btn_add_note_journal" (click)="addNote()"data-dismiss="modal">Add Note to Journal</button>
              </a>
            </div>
          </div>                    

          <br>

          <div class="row center_flex flex_wrap">
            <div class="col-md-3 col-sm-3 col-xs-12 tcenter">                    
              <a>
                <button type="button" class="btn btn-default mb0 w100 btn_skip txt5 tcenter" data-dismiss="modal">Skip</button>
              </a>
            </div>
          </div>
        </form>        
      </div>      
    </div>
  </div>
</div>

<!-- page content -->
<div class="right_col ml0 bg_orange" role="main"> 
  <!-- Class -->
  <div class="cw100p cabsolutekta">
    <div class="row center_flex mrl0px">
      <div class="col-md-6 col-sm-8 col-xs-12 p0">
        <div class="x_panel cxpanelkta_brief"> 
          <div class="x_content c_white fwunset">            	
            <form class="">
              <div class="row pb3rem">
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <div class="tcenter">                    
                    <img src="assets/svgs/icons/lightbulb.svg" alt="" class="img_kta cmw">
                  </div>
                </div>
              </div>  			

              <h1 class="txt3">
                3 steps to understanding envy:
              </h1>

              <h1 class="txt21">
                1. Be aware of envy as it rises
              </h1>

              <h1 class="txt21">
                2. Accept and take ownership of the feeling 
              </h1>

              <h1 class="txt21">
                3. Question what is behind the feeling of envy
              </h1>              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->

<!-- footer  -->
<div class="sidebar-footer hidden-small bg_green">
  <div class="row lh5rem">
    <div class="col-md-12 col-sm-12 col-xs-12 tcenter center_flex">      
      <div class="col-md-2 col-sm-2 col-xs-4 btn_p0">
        <a (click)="previous()">
          <button type="button" class="btn w100 mb0 btn_prev">Previous</button>          
        </a>        
      </div>
      <div class="col-md-2 col-sm-2 col-xs-6 p0">
        <a (click)="next()">
          <button type="button" class="btn btn-default w100 mb0 btn_next">Next</button>
        </a>
      </div>    
      <div class="col-md-2 col-sm-2 col-xs-4">        
      </div>  
    </div>
  </div>
</div>
<!-- /footer -->