<!-- top navigation -->
<div class="top_nav ml0">
  <div class="nav_menu cnav_menu">
      <nav>          
          <ul class="nav navbar-nav navbar-right cnav">
              <li class="">                    
                  <a href="javascript:;" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                        
                      <img src="assets/svgs/icons/edit.svg" alt="">
                  </a>                  
              </li>
              <li class="">                    
                <a href="javascript:;" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                        
                    <img src="assets/svgs/icons/bookmark_course.svg" alt="">
                </a>                  
            </li>            
          </ul>
      </nav>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col ml0 bg_grey" role="main">				
  <!-- Class -->  
  <div class="">
    <div class="row center_flex">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="x_panel">                        
          <div class="x_content fwunset">
            <form>
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">
                  <h4 class="ob_txt1">
                    Cart
                  </h4>  
                  <hr class="chr">  
                </div>
              </div>

              <div class="row cpt10px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px wdiv">
                  <div class="col-md-4 col-sm-4 col-xs-3">
                    <h4 class="ob_txt4">
                      Children
                    </h4>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 tcenter">                    
                    <!-- quantity btn -->
                    <div class="input-group mb0px">
                      <input type="button" value="-" class="button-minus" data-field="quantity">
                      <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                      <input type="button" value="+" class="button-plus" data-field="quantity">
                    </div>                    
                    <!-- /quantity btn -->
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-3">
                    <h4 class="ob_txt4 fright">
                      Rs 500
                    </h4>
                  </div>
                </div>                
              </div>

              <div class="row">
                <hr class="chr0">
              </div>   

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px wdiv">
                  <div class="col-md-4 col-sm-4 col-xs-3">
                    <h4 class="ob_txt4">
                      Children
                    </h4>
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-6 tcenter">
                    <!-- quantity btn -->
                    <div class="input-group mb0px">
                      <input type="button" value="-" class="button-minus" data-field="quantity">
                      <input type="number" step="1" max="" value="1" name="quantity" class="quantity-field">
                      <input type="button" value="+" class="button-plus" data-field="quantity">
                    </div>                    
                    <!-- /quantity btn -->
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-3">
                    <h4 class="ob_txt4 fright">
                      Rs 500
                    </h4>
                  </div>
                </div>                
              </div>

              <div class="row">
                <hr class="chr0">
              </div>   

              <div class="row cpt10px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">
                  <h4 class="ob_txt1">
                    Apply Coupon 
                  </h4>  
                  <hr class="chr">  
                </div>
              </div>

              <div class="row cpt10px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">
                  <div class="col-md-8 col-sm-8 col-xs-7 p0">
                    <input type="text" class="form-control fcinput2 mt0px" placeholder="Enter Coupon Code">
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-5 pr0">
                    <button class="btn btn-warning btn_apply" type="button">
                      <img src="assets/svgs/icons/apply.svg" alt="">
                      &nbsp;Apply
                    </button>
                  </div>
                </div>                
              </div>              
              
              <div class="row cpt10px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">
                  <h4 class="ob_txt1">
                    Bill Details 
                  </h4>  
                  <hr class="chr">  
                </div>
              </div>

              <div class="row cpt10px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px wdiv">
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h4 class="ob_txt4">
                      Item Total 
                    </h4>
                  </div>                  
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h4 class="ob_txt4 fright">
                      Rs 1000
                    </h4>
                  </div>
                </div>                
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px wdiv">
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h4 class="ob_txt8">
                      Discount
                    </h4>
                  </div>                  
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h4 class="ob_txt8 fright">
                      Rs 200
                    </h4>
                  </div>
                </div>                
              </div>

              <div class="row pt5px">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px wdiv">
                  <div class="col-md-8 col-sm-8 col-xs-8">
                    <h4 class="ob_txt4 fw_bold">
                      Amount to Pay
                    </h4>
                  </div>                  
                  <div class="col-md-4 col-sm-4 col-xs-4">
                    <h4 class="ob_txt4 fright fw_bold">
                      Rs 800
                    </h4>
                  </div>
                </div>                
              </div>

              <br><br><br><br><br>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">
                  <button class="btn btn-default btn_ptp" type="button">
                    Proceed to  pay
                  </button>
                </div>                
              </div>
          
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->



