<!-- top navigation -->
<nav class="navbar navbar-default navbar-static-top cnavbar-default pt1rem">
  <div class="container ncenter_flex">
    <div class="navbar-header nh center_flex">
      <button type="button" class="navbar-toggle collapsed unhide_ntbtn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="cimg" href="#">
        <img src="assets/images/logo/logo_transparent.png" class="img-responsive clogo" alt="">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse hide_nav">      
      <ul class="nav navbar-nav navbar-right">        
        <ul class="nav navbar-nav cnavbar-nav mr-20px pb1rem">          
          <li class="libr"><a href="https://humanwisdom.me/Course/#/onboarding/login">Login</a></li>                    
          <li class="libr"><a href="https://humanwisdom.me/Course/#/onboarding/signup">Register</a></li>
          <li class="libr"><a href="https://humanwisdom.me/hwp/webpages/help.php">Help</a></li>
          <li class=""><a href="https://humanwisdom.me/hwp/webpages/profile.php">My Profile</a></li>          
          <li role="separator" class="divider"></li>
        </ul>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">        
        <ul class="nav navbar-nav cnavbar-nav">          
          <li><a href="">About</a></li>          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Programs <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_childrens.php">Children</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_teenagers.php">Teenager</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_adults.php">Adults</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_parents.php">Parents</a></li>
            </ul>
          </li>
          <li class="active"><a href="https://humanwisdom.me/hwp/webpages/wisdom_community.php">Community</a></li>
          <li><a href="">Wisdom Survey</a></li>
          <li><a href="">Wisdom Journal</a></li>
          <li><a href="https://humanwisdom.me/Course/#/onboarding/addcart">Subscribe</a></li>
          <li><a href="https://humanwisdom.me/hwp/webpages/testimonials.php">Testimonials</a></li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
<!-- /top navigation -->

<div class="prelative pt8_5rem">
  <img src="assets/images/background/webpage/header_bg.png" class="img-responsive" alt="">  
  <h2 class="bold testimonial_img_title">
    COOKIE POLICY
  </h2> 
</div>

<!-- page content -->
<div class="right_col ml0" role="main">				
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <div class="x_panel txt_dgray">                     

          <div class="x_content">
            <form class="wparagraph">
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">                          
                  <h3>
                    Cookie Policy
                  </h3>
                  <hr class="whr_title">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">                          

                  <ol class="fw_500 italic">
                    <li>
                        <p>
                            <span class="light_cyan">Does HWP use cookies?</span>
                            <br>
                            Yes. HWP uses cookies and other similar technologies to ensure everyone who uses the website has the best possible experience.
                        </p>                                
                    </li>

                    <br>

                    <li>
                        <p>
                            <span class="light_cyan">What is a cookie?</span>
                            <br>
                            A cookie is a small text file that is placed on your hard drive by a web page server. Cookies contain information that can later be read by a web server in the domain that issued the cookie to you. You can find out more about each cookie by viewing our current cookie list below. We update this list every six months, so there may be additional cookies not yet listed. Web beacons, tags, and scripts may be used on the website or in emails to help us to deliver cookies, count visits, understand usage and advertising campaign effectiveness, and determine whether an email has been opened and clicked on. We may receive reports based on the use of these technologies by our service/analytics providers on an individual and aggregated basis.
                        </p>                                
                    </li>

                    <br>

                    <li>
                        <p>
                            <span class="light_cyan">Why does HWP use cookies?</span>
                            <br>
                            When you visit our website, we may place a number of cookies in your browser. These are first-party cookies, and they allow us to hold session information as you navigate within the site. For example, we use cookies on our website to understand visitor and user preferences, improve their experience, and track and analyze usage, navigational, and other statistical information. You can control the use of cookies at the individual browser level. If you choose not to activate cookies or to later disable them, you can still visit our website, but your ability to use some features may be limited.
                        </p>                                
                    </li>

                    <br>

                    <li>
                        <p>
                          <span class="light_cyan">How do I disable cookies?</span>
                          <br>
                          You can generally activate or later deactivate the use of cookies through your web browser. 
                          <br>
                          Find your browser below to learn more about how to manage your cookie settings.
                        </p>

                        <ul>
                            <li>
                                <p>
                                    <span class="green">Firefox:</span>&nbsp;Click here to learn more about “Private Browsing” and managing cookie settings.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="green">Chrome:</span>&nbsp;Click here to learn more about “Incognito” and managing cookie settings.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="green">Internet Explorer:</span>&nbsp;Click here to learn more about “InPrivate” and managing cookie settings.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <span class="green">Safari:</span>&nbsp;Click here to learn more about “Private Browsing” and managing cookie settings.
                                </p>
                            </li>
                        </ul>
                        
                        <p>
                            If you want to learn more about cookies or how to control, disable, or delete them, please visit <a href="http://www.aboutcookies.org">http://www.aboutcookies.org</a> for detailed guidance.
                        </p>
                        <p>
                            In addition, certain third party advertising networks, including Google, allow users to opt out of or customize preferences associated with your internet browsing. To learn more about this feature from Google, click <a href="">here</a>.
                        </p>                       
                    </li>

                    <br>

                    <li>
                        <p>
                            <span class="light_cyan">Cookies HWP uses</span>
                            <br>
                            Many jurisdictions require or recommend that website operators disclose the types of cookies they use and occasionally get consent from users before placing certain cookies. We may use any of the following categories of cookies on our website as detailed below. Each cookie falls within one of these four categories:
                        </p>
                        <ul>
                            <li>
                                <p class="bold italic">
                                    <span class="green">Essential cookies (first-party cookies)</span> are sometimes called “strictly necessary” as without them we cannot provide many services that you need on the website. For example, essential cookies help remember your preferences as you move around the website.
                                </p>
                            </li>
                            <li>
                                <p class="bold italic">
                                    <span class="green">Analytical Cookies</span>These cookies track information about website visits so we can make improvements and report our performance. For example, we analyze visitor and user behavior to provide more relevant content or suggest certain activities. These cookies collect information about how visitors use the website, which site the user came from, the number of each user’s visits, and how long a user stays on the website. We might also use analytics cookies to test new ads, pages, or features to see how users react to them.
                                </p>
                            </li>
                            <li>
                                <p class="bold italic">
                                    <span class="green">Functionality or Preference Cookies</span>During your visit to the website, these cookies are used to remember information you have entered or choices you make such as your username, language, or region. They also store your preferences when personalizing the website to optimize your use of Headspace, for example, your preferred language. These preferences are remembered through the use of the persistent cookies, and the next time you visit the website you won’t have to set them again.
                                </p>
                            </li>
                            <li>
                                <p class="bold italic">
                                    <span class="green">Third Party Cookies</span>These third-party cookies are placed by third-party advertising platforms or networks in order to deliver ads and track ad performance, enabling advertising networks to deliver ads that may be relevant to you based upon your activities (this is sometimes called behavioral, tracking, or targeted advertising) on the website. They may subsequently use information about your visit to show you ads that you may be interested on our website and other websites. For example, these cookies remember which browsers have visited the website.
                                </p>
                            </li>                                    
                        </ul>                                
                    </li>

                    <br>

                    <p class="bold italic">
                        <span class="red">To opt out of marketing and analytics cookies, please click the button below.</span> 
                    </p>

                    <button type="button" class="btn btn-danger">Opt Out</button>
                    
                
                  </ol>                        
                  
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--/Class -->      
</div>
<!-- /page content -->

<!-- footer content -->
<footer class="cfooter ml0 footer_p0 ">
  
  <div class="row flex_justify footer_top">
    <div class="col-md-10 col-sm-12 col-xs-12 p0 flex_justify txt_white ">

      <div class="col-lg-2 col-md-2 col-sm-2"></div>

      <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>
          Useful Links
        </h4>

        <ul class="footer_ul">
          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="about_manoj_krishna.php">About Manoj Krishna</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="manoj_krishna_book.php">Manoj Krishna's Book</a>
          </li>          
        </ul>
      </div>
      
      <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>
          Our Services
        </h4>

        <ul class="footer_ul">
          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="subscribe.php">Subscribe</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="discount.php">Discount</a>
          </li>          

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="refer_friend.php">Refer a Friend</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="share_gift_of_wisdom.php">Give the Gift of Wisdom</a>
          </li>          
        </ul>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>
          Our Policies
        </h4>

        <ul class="footer_ul">
          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="terms_conditions.php">Terms and Conditions</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="privacy_policy.php">Privacy Policy</a>
          </li>          

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="cookie_policy.php">Cookie Policy</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="help.php">Help Center</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
  
  <div class="tcenter twhite footer_bottom">    
    © 2020 Human Wisdom Ltd. All Rights Reserved.&nbsp;<a href="" class="twhite">Terms of Use</a>&nbsp;|&nbsp;<a href="" class="twhite">Privacy Policy</a>
  </div>

  
</footer>
<!-- /footer content -->