<!-- top navigation -->
<nav class="navbar navbar-default navbar-static-top cnavbar-default pt1rem">
  <div class="container ncenter_flex">
    <div class="navbar-header nh center_flex">
      <button type="button" class="navbar-toggle collapsed unhide_ntbtn" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="cimg" href="#">
        <img src="assets/images/logo/logo_transparent.png" class="img-responsive clogo" alt="">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse hide_nav">      
      <ul class="nav navbar-nav navbar-right">        
        <ul class="nav navbar-nav cnavbar-nav mr-20px pb1rem">          
          <li class="libr"><a href="https://humanwisdom.me/Course/#/onboarding/login">Login</a></li>                    
          <li class="libr"><a href="https://humanwisdom.me/Course/#/onboarding/signup">Register</a></li>
          <li class="libr"><a href="https://humanwisdom.me/hwp/webpages/help.php">Help</a></li>
          <li class=""><a href="https://humanwisdom.me/hwp/webpages/profile.php">My Profile</a></li>          
          <li role="separator" class="divider"></li>
        </ul>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">        
        <ul class="nav navbar-nav cnavbar-nav">          
          <li><a href="">About</a></li>          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Our Programs <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_childrens.php">Children</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_teenagers.php">Teenager</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_adults.php">Adults</a></li>
              <li><a href="https://humanwisdom.me/hwp/webpages/wp_parents.php">Parents</a></li>
            </ul>
          </li>
          <li class="active"><a href="https://humanwisdom.me/hwp/webpages/wisdom_community.php">Community</a></li>
          <li><a href="">Wisdom Survey</a></li>
          <li><a href="">Wisdom Journal</a></li>
          <li><a href="https://humanwisdom.me/Course/#/onboarding/addcart">Subscribe</a></li>
          <li><a href="https://humanwisdom.me/hwp/webpages/testimonials.php">Testimonials</a></li>
        </ul>
      </ul>
    </div>
  </div>
</nav>
<!-- /top navigation -->

<div class="prelative pt8_5rem">
  <img src="assets/images/background/webpage/header_bg.png" class="img-responsive" alt="">  
  <h2 class="bold testimonial_img_title">
      TESTIMONIALS
  </h2> 
</div>

<!-- page content -->
<div class="right_col ml0" role="main">				
  <!-- Class -->
  <div class="cw100p">
    <div class="row center_flex">
      <div class="col-md-12 col-sm-12 col-xs-12 p0">
        <div class="x_panel txt_dgray">                     

          <div class="x_content">
            <form class="wparagraph">
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">                          
                  <h3>
                    Testimonials
                  </h3>
                  <hr class="whr_title">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">                          
                  <p>
                      <i>
                      <b>
                          A sample of Amazon reviews for the book Understanding Me, Understanding You, by Manoj Krishna:
                      </b>
                      </i>
                  </p>  

                  <ul class="italic fw_500">
                      <li>
                          <p>Fantastic book that everyone should read and re-read in order to work on becoming a better and more considerate human being.</p>
                      </li>
                      <li>
                          <p>Amazing insightful and thought provoking</p>
                      </li>
                      <li>
                          <p>Superb, excellent life changing book!!!!! Must read</p>
                      </li>
                  </ul>

                  <br>

                  <h4 class="bold italic">From Talks given by Manoj Krishna: </h4>

                  <p class="italic fw_500"><span class="green">Adam Beagley, Student:</span>&nbsp;I recently enjoyed listening to one of your talks. I found it inspired. I believe this could be monumental for our generation.</p>

                  <p class="italic fw_500"><span class="green">Bill Watkin, CEO, Sixth Form College Association (SFCA):</span>&nbsp;Thank you so much for making such a valuable and thought-provoking contribution to our conference last week. The feedback from delegates has been overwhelming – lots of very positive comments about how relevant, interesting and practically helpful it was.</p>

                  <p class="italic fw_500"><span class="green">Sara Thirlaway, Parent: </span>&nbsp;It was lovely to meet you at Staindrop Primary earlier in the week.  It was an absolute privilege to listen to you and a joy to hear the responses and ideas of the children! I feel what you are doing is absolutely imperative in education.

                  </p>   
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--/Class -->      
</div>
<!-- /page content -->

<!-- footer content -->
<footer class="cfooter ml0 footer_p0 ">
  
  <div class="row flex_justify footer_top">
    <div class="col-md-10 col-sm-12 col-xs-12 p0 flex_justify txt_white ">

      <div class="col-lg-2 col-md-2 col-sm-2"></div>

      <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>
          Useful Links
        </h4>

        <ul class="footer_ul">
          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="about_manoj_krishna.php">About Manoj Krishna</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="manoj_krishna_book.php">Manoj Krishna's Book</a>
          </li>          
        </ul>
      </div>
      
      <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>
          Our Services
        </h4>

        <ul class="footer_ul">
          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="subscribe.php">Subscribe</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="discount.php">Discount</a>
          </li>          

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="refer_friend.php">Refer a Friend</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="share_gift_of_wisdom.php">Give the Gift of Wisdom</a>
          </li>          
        </ul>
      </div>

      <div class="col-md-3 col-sm-3 col-xs-12">
        <h4>
          Our Policies
        </h4>

        <ul class="footer_ul">
          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="terms_conditions.php">Terms and Conditions</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="privacy_policy.php">Privacy Policy</a>
          </li>          

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="cookie_policy.php">Cookie Policy</a>
          </li>

          <li>
            <i class="fa fa-chevron-right pr1rem"></i> 
            <a href="help.php">Help Center</a>
          </li>          
        </ul>
      </div>
    </div>
  </div>
  
  <div class="tcenter twhite footer_bottom">    
    © 2020 Human Wisdom Ltd. All Rights Reserved.&nbsp;<a href="" class="twhite">Terms of Use</a>&nbsp;|&nbsp;<a href="" class="twhite">Privacy Policy</a>
  </div>

  
</footer>
<!-- /footer content -->