<!-- top navigation -->
<div class="top_nav ml0">
  <div class="nav_menu cnav_menu">
      <nav>          
          <ul class="nav navbar-nav navbar-right cnav">
              <li class="">                    
                  <a href="javascript:;" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                        
                      <img src="assets/svgs/icons/edit.svg" alt="">
                  </a>                  
              </li>
              <li class="">                    
                <a href="javascript:;" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                        
                    <img src="assets/svgs/icons/bookmark_course.svg" alt="">
                </a>                  
            </li>            
          </ul>
      </nav>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col ml0" role="main">				
  <!-- Class -->  
  <div class="">
    <div class="row center_flex">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="x_panel">                        
          <div class="x_content fwunset">
            <form>
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px center_flex">
                  <div class="col-md-8 col-sm-8 col-xs-8 p0">
                    <h4 class="ob_txt1">
                      Activation Keys 
                    </h4>  
                    
                  </div>
                  <div class="col-md-4 col-sm-4 col-xs-4 p0 tright">
                    <a>
                      <img src="assets/svgs/icons/information.svg" alt="..." class="">
                    </a>                    
                  </div>
                  
                </div>                
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">
                  <hr class="chr mt0px">  
                </div>                  
              </div>   
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">
                  <h4 class="ob_txt4">
                    Please enter names and email addresses of learners
                  </h4>
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">
                  <!-- accordion  -->
                  <div class="">
                    <div class="panel-group" id="accordion">

                      <!-- panel1 -->
                      <div class="panel panel-default">
                        <div class="panel-heading accordionbg1">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                              
                              <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                  <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h4 class="ob_txt4 mtb0px">
                                      A580IUBG
                                    </h4>
                                  </div>
                                  <div class="col-md-5 col-sm-5 col-xs-5">
                                    <h4 class="ob_txt4 tright mtb0px">
                                      Children
                                    </h4>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse in">
                          <div class="panel-body accordionbg1">
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 pt3px">
                                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                  <input type="text" class="form-control fcinput2 mt0px tleft" placeholder="pratikmangtani15@gmail.com">
                                </div>                                
                              </div>                
                            </div>              

                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 pt3px">
                                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                  <input type="text" class="form-control fcinput2 mt0px tleft" placeholder="Pratik Mangtani">
                                </div>                                
                              </div>                
                            </div>  
                            
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 pt3px">
                                <h4 class="ob_txt7">
                                  This leaner has started the course
                                </h4>
                              </div>
                            </div>

                          </div>
                        </div>
                      </div>
                      <!-- panel1 -->

                      <!-- panel2 -->
                      <div class="panel panel-default">
                        <div class="panel-heading accordionbg2">
                          <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                              
                              <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                  <div class="col-md-6 col-sm-6 col-xs-6">
                                    <h4 class="ob_txt4 mtb0px">
                                      A580IUBG
                                    </h4>
                                  </div>
                                  <div class="col-md-5 col-sm-5 col-xs-5">
                                    <h4 class="ob_txt4 tright mtb0px">
                                      Children
                                    </h4>
                                  </div>
                                </div>
                              </div>
                            </a>
                          </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                          <div class="panel-body accordionbg2">
                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 pt3px">
                                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                  <input type="text" class="form-control fcinput2 mt0px tleft" placeholder="pratikmangtani15@gmail.com">
                                </div>                                
                              </div>                
                            </div>              

                            <div class="row">
                              <div class="col-md-12 col-sm-12 col-xs-12 pt3px">
                                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                                  <input type="text" class="form-control fcinput2 mt0px tleft" placeholder="Pratik Mangtani">
                                </div>                                
                              </div>                
                            </div>  
                          </div>
                        </div>
                      </div>
                      <!-- panel2 -->

                    </div>
                    
                  </div>
                  <!-- /accordion -->
                </div>
              </div>
          
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->



