<!-- top navigation -->
<div class="top_nav ml0">
  <div class="nav_menu cnav_menu">
      <nav>          
          <ul class="nav navbar-nav navbar-right cnav">
              <li class="">                    
                  <a href="javascript:;" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                        
                      <img src="assets/svgs/icons/edit.svg" alt="">
                  </a>                  
              </li>
              <li class="">                    
                <a href="javascript:;" class="cuser-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">                        
                    <img src="assets/svgs/icons/bookmark_course.svg" alt="">
                </a>                  
            </li>            
          </ul>
      </nav>
  </div>
</div>
<!-- /top navigation -->

<!-- page content -->
<div class="right_col ml0" role="main">				
  <!-- Class -->  
  <div class="">
    <div class="row center_flex">
      <div class="col-md-6 col-sm-8 col-xs-12">
        <div class="x_panel">                        
          <div class="x_content fwunset">
            <form>
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">
                  <h4 class="ob_txt1">
                    Subscribe
                  </h4>  
                  <hr class="chr">  
                </div>
              </div>
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">
                  <h4>
                    <a class="ob_txt3">Click here</a>&nbsp;<span class="ob_txt2">if you already have an Activation Key.</span>
                  </h4>
                </div>
              </div>             

              <div class="row cmrow">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">
                  <h4 class="">
                    Children
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">
                  <h4 class="ob_txt5">
                    Is this program for you?
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">                  
                  <div class="radio">
                    <label class="mt0px">
                      <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> 
                      <span class="">
                        <span class="pl0_3rem">
                          Yes, I am buying this for myself. 
                        </span>                          
                      </span>
                    </label>
                  </div>                  
                </div>                

                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">                  
                  <div class="radio">
                    <label class="mt0px">
                      <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> 
                      <span class="">
                        <span class="pl0_3rem">
                          No, I am buying this for someone else. 
                        </span>                          
                      </span>
                    </label>
                  </div>                  
                </div>                

                <div class="col-md-12 col-sm-12 col-xs-12 p0 t3px">                  
                  <div class="radio">
                    <label class="mt0px">
                      <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> 
                      <span class="">
                        <span class="pl0_3rem">
                          I will decide later.
                        </span>                          
                      </span>
                    </label>
                  </div>                  
                </div>                
              </div>

              <div class="row">
                <hr class="chr">
              </div>              

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <h4 class="ob_txt5">
                    Please enter details of the learner
                  </h4>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <input type="text" class="form-control fcinput mt0px" placeholder="Email ">
                </div>
              </div>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0">
                  <input type="text" class="form-control fcinput mt0px" placeholder="Name ">
                </div>
              </div>

              <div class="row">
                <hr class="chr">              
              </div>              
              
              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 p0 pt3px">                  
                  <div class="checkbox">
                    <label class="mt0px">
                      <input type="checkbox" value=""> 
                      <span class="">
                        <span class="pl0_3rem">
                          Option one. select more than one options
                        </span>                          
                      </span>
                    </label>
                  </div>
                </div>                
              </div>

              <br>

              <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 pt3px cdiv">
                  <div class="col-md-6 col-sm-6 col-xs-8">
                    <h4 class="ob_txt6">
                      Item Total - Rs 500
                    </h4>
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-4">
                    <h4 class="ob_txt6 fright">
                      Add Item 
                    </h4>
                  </div>
                </div>                
              </div>
          
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/Class --> 
</div>
<!-- /page content -->



