 <!-- page content -->
 <div class="right_col ml0 bg_lynx_white" role="main">
                        
  <!-- Class -->
  <div class="">                            
    <div class="clearfix"></div>            
    <div class="row row-centered">
      <div class="col-md-8 col-sm-12 col-xs-12 col-centered center_block">
        <div class="x_panel p0 center_flex">
          <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 p0 dnone">
            <img src="assets/images/background/webpage/login.png" alt="..." class="img-responsive mh68vh ">
          </div>                        
          <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
            <img src="assets/images/background/webpage/social-media-caution.png" alt="..." class="img-responsive" style="display:none;">
            <div class="x_content">
              <br />
              <form class="form-horizontal form-label-left input_mask">
                <div class="form-group">                                         
                  <div class="col-lg-7 col-md-7">
                    <a href="index.html">
                      <img src="assets/images/logo/logo_transparent.png" alt="..." class="img-responsive">
                    </a>
                  </div>                                                    
                </div>
                <div class="form-group">
                  <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <h4 class="black">Forgot Password </h4>
                  </label> 
                </div>                                        
                <div class="form-group">                                                
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <input class="form-control col-md-7 col-xs-12 cform-control" required="required" type="text" placeholder="Email Id">  
                  </div>
                </div>
                <div class="form-group">                                                
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb10px">
                    <input class="form-control col-md-7 col-xs-12 cform-control" required="required" type="text" placeholder="Password">                                                
                  </div>
                  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 mb10px">
                    <input class="form-control col-md-7 col-xs-12 cform-control" required="required" type="text" placeholder="Confirm Password">                                                
                  </div>
                </div>

                <br><br>

                <div class="form-group">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <a routerLink="/adults/webpage/login">
                      <button type="button" class="btn btn-primary w100 bg_cyan h5rem">SUBMIT</button>                                                   
                    </a>
                  </div>
                </div>

                <br>

                <!-- <div class="form-group center_flex">
                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 tcenter">                                                
                    <a href="" class="image">
                      <img src="assets/images/facebook.png" alt="..." class="img-responsive">                                                
                    </a>
                  </div>

                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 tcenter">                                                
                    <a>
                      <img src="assets/images/google_plus.png" alt="..." class="img-responsive img-btn">                                                
                    </a>                                                
                  </div>                                            
                </div> -->

                <div class="form-group center_flex">
                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 tcenter">                                                                                                
                    <a>
                      <button type="button" class="btn btn-primary btn-sm w100 cfs">
                        <i class="fa fa-facebook"></i>
                      </button>
                    </a>
                  </div>

                  <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 tcenter">                                                
                    <a>
                      <button type="button" class="btn btn-danger btn-sm w100 cfs">
                        <i class="fa fa-google-plus"></i>
                      </button>
                    </a>
                  </div>                                                                                        
                </div>

                <br>
                
                <div class="form-group tcenter">
                  <label class="col-lg-12 col-md-12 col-sm-12 col-xs-12 black">Already a Member? <a routerLink="/adults/framework/webpage-login"><span class="cyan">Log In</span></a></label>
                </div>       

              </form>
            </div>  
          </div>                            
        </div>
      </div>
    </div>
  </div>
  <!--/Class -->
  
</div>
<!-- /page content -->